body {
  font-family: "Inter";
  text-align: center;
}
.head1,
.head2,
.head3 {
  font-size: 20px;
  align-items: center;
}
.para {
  font-size: 20px;
}
img {
  width: 40%;
  margin: 1px auto;
  display: block;
}
.container1,
.container2,
.container3 {
  display: flex;
  justify-content: space-around;
}
.bluepanel,
.greenpanel,
.violetpanel {
  padding: 7%;
  margin: 1%;
}
.blueborder,
.greenborder,
.violetborder {
  padding: 6.5%;
  margin: 1%;
}
.bluepanel {
  background-color: #319cea;
}
.greenpanel {
  background-color: #3ed319;
}
.violetpanel {
  background-color: #ba31ea;
}
.blueborder {
  border: 5px solid #1fa7f4;
}
.greenborder {
  border: 5px solid #3ed319;
}
.violetborder {
  border: 5px solid #ba31ea;
}
.upperbox1,
.upperbox2,
.upperbox3,
.lowerbox1,
.lowerbox2,
.lowerbox3 {
  border: solid 5px #1fa7f4;
  width: 40%;
  font-size: 20px;
  padding: 1%;
  flex-basis: 25%;
  flex-direction: row;
}
.copy {
  width: 5%;
  font-size: 50px;
  background-color: #1fa7f4;
  border-radius: 50%;
  padding: 1%;
  margin-left: auto;
}
