body {
  font-family: "Inter";
  text-align: center;
  font-size: x-large;
}
img {
  width: 40%;
  margin: 1px auto;
  display: block;
}
.container1,
.para1,
.para2 {
  display: flex;
  justify-content: space-around;
}
.bluepanel {
  background-color: #319cea;
}
.greenpanel {
  background-color: #3ed319;
}
.violetpanel {
  background-color: #ba31ea;
}
.blueborder {
  border: 5px solid #1fa7f4;
}
.greenborder {
  border: 5px solid #3ed319;
}
.violetborder {
  border: 5px solid #ba31ea;
}
.copy {
  width: 67px;
  height: 34px;
  font-size: 50px;
  line-height: 0.5;
  color: #000000;
  background-color: #1fa7f4;
  border-radius: 50%;
  padding: 32px 20px 32px 19px;
  text-align: center;
  margin-left: auto;
}
